h1,h2,h3,h4,h5 { margin: 0;
  
  margin: 80px auto;
  width: 640px;
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-align: center;
 
  background: #3B3B3B;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  
  
}
body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #0ca3d2;
}

.container {
  margin: 80px auto;
  width: 640px;
}
  

.container2 {
  margin: 80px ;
  width: 640px;
  margin: -20px -20px 0px;
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
}

input[type="submit"] {
    background-color: #3B3B3B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
	color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}



input[type="submit"]:hover {
    border: none;
    background:#ccc;
    box-shadow: 0px 0px 1px #777;
    color:black;
}
  

 .button{
   background-color: #3B3B3B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
	color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

.button:hover {
     border: none;
    background:#ccc;
    box-shadow: 0px 0px 1px #777;
    color:black;
}
#reg {
	text-align: center;
	color: white;
	font-size: 14px;
}
#bal {
	color:black;
	font-size: 14px;
}

.required {
	font-size: 14px;
  font-weight: bold;
  color: #555;
  text-align: center;
  background: #d3d3d3;
  

}


.hide{
	visibility: hidden;
}

.message{
  margin: 80px auto auto auto ;

  line-height: 30px;
  font-weight: bold;
  font-size: 14px;
  width: 400px;
  
  background: #f3f3f3;
  text-align: center;
  text-indent: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
